ignore
.idea/
/src/__pycache__/
/src/custom_transformations/__pycache__/
/src/networks/__pycache__/
/src/networks/utils/__pycache__/
/src/dataset/__pycache__/
/src/dataset/GTSRB-Training_fixed/
/src/dataset/TSRD/
/src/dataset/new/
/src/dataset/no_street_signs/
/src/dataset/no_street_signs_cropped/
/src/dataset/no_street_signs_full_res/
/src/dataset/street_sign_eval/
/src/dataset/GTSRB/
/src/dataset/GTSRB/Negative/Test/
ignore/
venv/
/street_sign_eval/
/out/
/debug/
/src/dataset/GTSRB_Negative/
